#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

#
# Disable Task Watchdog Timer
#
CONFIG_ESP_TASK_WDT_EN=n

#
# ESP32-specific
#
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

#
# ESP32S2-specific
#
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_MHZ=240

#
# ESP32S3-specific
#
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=240

#
# Main XTAL Config
#
# CONFIG_XTAL_FREQ_26 is not set
CONFIG_XTAL_FREQ_40=y
# CONFIG_XTAL_FREQ_AUTO is not set
CONFIG_XTAL_FREQ=40
# end of Main XTAL Config

#
# LoRa Configuration
#
CONFIG_GPIO_RANGE_MAX=33
CONFIG_433MHZ=y
# CONFIG_866MHZ is not set
# CONFIG_915MHZ is not set
# CONFIG_OTHER is not set
# CONFIG_ADVANCED is not set
CONFIG_MISO_GPIO=19
CONFIG_SCK_GPIO=5
CONFIG_MOSI_GPIO=27
CONFIG_CS_GPIO=18
CONFIG_RST_GPIO=14
CONFIG_SPI2_HOST=y
# CONFIG_SPI3_HOST is not set
# end of LoRa Configuration

#
# SX126X Configuration
#
# CONFIG_USE_TCXO is not set
CONFIG_SCLK_GPIO=5
CONFIG_NSS_GPIO=18
CONFIG_BUSY_GPIO=13
CONFIG_TXEN_GPIO=-1
CONFIG_RXEN_GPIO=-1
# end of SX126X Configuration

#
# SSD1306 Configuration
#
CONFIG_I2C_INTERFACE=y
# CONFIG_SPI_INTERFACE is not set
# CONFIG_SSD1306_128x32 is not set
CONFIG_SSD1306_128x64=y
CONFIG_OFFSETX=0
# CONFIG_FLIP is not set
CONFIG_SCL_GPIO=15
CONFIG_SDA_GPIO=4
CONFIG_DC_GPIO=28
CONFIG_RESET_GPIO=16
CONFIG_I2C_PORT_0=y
# CONFIG_I2C_PORT_1 is not set
# CONFIG_LEGACY_DRIVER is not set
# end of SSD1306 Configuration

#
# Touch FT6X36 Configuration
#

#
# The touch chip needs an I2C port and one input GPIO
#
CONFIG_TOUCH_SDA=39
CONFIG_TOUCH_SDL=40
CONFIG_TOUCH_INT=16
CONFIG_I2C_MASTER_FREQUENCY=50000
CONFIG_L58_MULTITOUCH=0
CONFIG_FT6X36_DEBUG=1
CONFIG_FT6X36_DEBUG_EVENTS=0
# end of Touch FT6X36 Configuration
